{%- capture block_settings -%}
{
  "section_header": "{{ section.settings.section_heading }}",
  "section_item_widths": "{{ section.settings.section_item_widths }}",
  "background_image_enabled": "{{ section.settings.background_image_enabled }}",
  "background_image": "{{ section.settings.background_image }}",
  "background_video_enabled": "{{ section.settings.background_video_enabled }}",
  "background_video_type": "{{ section.settings.background_video_type }}",
  "background_video_id": "{{ section.settings.background_video_id }}",
  "background_curve_enabled": "{{ section.settings.background_curve_enabled }}",
  "background_curve": "{{ section.settings.background_curve }}",
  "blocks": [
    {%- for block in section.blocks -%}
      {
        "image_enabled": "{{ block.settings.image_enabled }}",
        "image_url": "{{ block.settings.image | img_url: 'master' | prepend: 'https:' }}",
        "image_url_mobile": "{{ block.settings.image_mobile | img_url: 'master' | prepend: 'https:' }}",
        "cta_enabled": "{{ block.settings.cta_enabled }}",
        "heading": "{{ block.settings.heading }}",
        "heading_color": "{{ block.settings.heading_color }}",
        "heading_color_mobile": "{{ block.settings.heading_color_mobile }}",
        "heading_fontsize": "{{ block.settings.heading_fontsize }}",
        "heading_fontsize_mobile": "{{ block.settings.heading_fontsize_mobile }}",
        "heading_fontweight": "{{ block.settings.heading_fontweight }}",
        "subheading": "{{ block.settings.subheading }}",
        "subheading_color": "{{ block.settings.subheading_color }}",
        "subheading_color_mobile": "{{ block.settings.subheading_color_mobile }}",
        "subheading_fontsize": "{{ block.settings.subheading_fontsize }}",
        "subheading_fontsize_mobile": "{{ block.settings.subheading_fontsize_mobile }}",
        "subheading_fontweight": "{{ block.settings.subheading_fontweight }}",
        "text_alignment": "{{ block.settings.text_alignment }}",
        "text_alignment_mobile": "{{ block.settings.text_alignment_mobile }}",
        "button_text": "{{ block.settings.button_text }}",
        "button_link": "{{ block.settings.button_link }}",
        "button_color": "{{ block.settings.button_color }}",
        "button_text_color": "{{ block.settings.button_text_color }}",
        "link_text": "{{ block.settings.link_text }}",
        "link_href": "{{ block.settings.link_href }}",
        "link_color": "{{ block.settings.link_color }}",
      }{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  ]
}
{%- endcapture -%}

<section class="vue-columns-image-cta" data-section-id="{{ section.id }}" data-section-type="homepage-image-blocks">
  <columns-image-cta
    :block-settings='{{- block_settings -}}'
    files-url='{{- "" | file_url | url_param_escape | escape -}}'
  />
</section>



{% schema %}
{
  "name": "Columns Image CTA",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section heading",
      "default": "Hero section"
    },

    {
      "type": "header",
      "content": "Column width settings"
    },
    {
      "type": "text",
      "id": "section_item_widths",
      "label": "Section Item Widths",
      "placeholder": "50, 50",
      "info": "A comma delimited list of widths per each block that add up to 100(%).  E.g. 50, 50 for 2 equal width columns or 50, 25, 25 for 3 columns.  The widths are equal by default."
    },

    {
      "type": "header",
      "content": "Background image settings"
    },
    {
      "type": "checkbox",
      "id": "background_image_enabled",
      "default": false,
      "label": "Enable background image"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    },

    {
      "type": "header",
      "content": "Background video settings"
    },
    {
      "type": "checkbox",
      "id": "background_video_enabled",
      "default": false,
      "label": "Enable background video"
    },
    {
      "type": "select",
      "id": "background_video_type",
      "label": "Video Source",
      "default":"youtube",
      "options": [
        {
          "value":"youtube",
          "label":"YouTube"
        },
        {
          "value":"vimeo",
          "label":"Vimeo"
        }
      ]
    },
    {
      "type": "text",
      "id": "background_video_id",
      "label": "Video ID"
    },

    {
      "type": "checkbox",
      "id": "background_curve_enabled",
      "default": false,
      "label": "Enable background curve"
    },
    {
      "type": "select",
      "id": "background_curve",
      "label": "Background curve direction",
      "default":"right",
      "options": [
        {
          "value":"left",
          "label":"Left"
        },
        {
          "value":"right",
          "label":"Right"
        }
      ]
    }

  ],
  "blocks": [
    {
      "type": "image-content",
      "name": "Image Content",
      "limit": 3,
      "settings": [
        // IMAGE
        {
          "type": "header",
          "content": "Image Settings"
        },
        {
          "type": "checkbox",
          "id": "image_enabled",
          "default": false,
          "label": "Enable Image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image (Mobile)"
        },

        {
          "type": "header",
          "content": "CTA Settings"
        },
        {
          "type": "checkbox",
          "id": "cta_enabled",
          "default": false,
          "label": "Enable CTA"
        },
        // HEADING
        {
          "type": "header",
          "content": "Heading Settings"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Text"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Text color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "heading_color_mobile",
          "label": "Text color (Mobile)",
          "default": "#ffffff"
        },
        {
          "type": "select",
          "id": "heading_fontsize",
          "label": "Font size",
          "options": [
            { "value": "text-xs", "label": "Extra Small" },
            { "value": "text-sm", "label": "Small" },
            { "value": "text-lg", "label": "Large" },
            { "value": "text-xl", "label": "Extra Large" },
            { "value": "text-2xl", "label": "2X Large" },
            { "value": "text-3xl", "label": "3X Large" },
            { "value": "text-4xl", "label": "4X Large" },
            { "value": "text-5xl", "label": "5X Large" },
            { "value": "text-6xl", "label": "6X Large" },
            { "value": "text-7xl", "label": "7X Large" },
            { "value": "text-8xl", "label": "8X Large" }
          ],
          "default": "text-5xl"
        },
        {
          "type": "select",
          "id": "heading_fontsize_mobile",
          "label": "Font size (Mobile)",
          "options": [
            { "value": "text-xs", "label": "Extra Small" },
            { "value": "text-sm", "label": "Small" },
            { "value": "text-lg", "label": "Large" },
            { "value": "text-xl", "label": "Extra Large" },
            { "value": "text-2xl", "label": "2X Large" },
            { "value": "text-3xl", "label": "3X Large" },
            { "value": "text-4xl", "label": "4X Large" },
            { "value": "text-5xl", "label": "5X Large" },
            { "value": "text-6xl", "label": "6X Large" },
            { "value": "text-7xl", "label": "7X Large" },
            { "value": "text-8xl", "label": "8X Large" }
          ],
          "default": "text-3xl"
        },
        {
          "type": "select",
          "id": "heading_fontweight",
          "label": "Font weight",
          "options": [
            { "value": "font-normal", "label": "Normal" },
            { "value": "font-semibold", "label": "Semibold" },
            { "value": "font-bold", "label": "Bold" }
          ],
          "default": "font-bold"
        },

        // SUBHEADING
        {
          "type": "header",
          "content": "Subheading Settings"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Text"
        },
        {
          "type": "color",
          "id": "subheading_color",
          "label": "Text color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "subheading_color_mobile",
          "label": "Text color (Mobile)",
          "default": "#ffffff"
        },
        {
          "type": "select",
          "id": "subheading_fontsize",
          "label": "Font size",
          "options": [
            { "value": "text-xs", "label": "Extra Small" },
            { "value": "text-sm", "label": "Small" },
            { "value": "text-lg", "label": "Large" },
            { "value": "text-xl", "label": "Extra Large" },
            { "value": "text-2xl", "label": "2X Large" },
            { "value": "text-3xl", "label": "3X Large" },
            { "value": "text-4xl", "label": "4X Large" },
            { "value": "text-5xl", "label": "5X Large" },
            { "value": "text-6xl", "label": "6X Large" },
            { "value": "text-7xl", "label": "7X Large" },
            { "value": "text-8xl", "label": "8X Large" }
          ],
          "default": "text-5xl"
        },
        {
          "type": "select",
          "id": "subheading_fontsize_mobile",
          "label": "Font size (Mobile)",
          "options": [
            { "value": "text-xs", "label": "Extra Small" },
            { "value": "text-sm", "label": "Small" },
            { "value": "text-lg", "label": "Large" },
            { "value": "text-xl", "label": "Extra Large" },
            { "value": "text-2xl", "label": "2X Large" },
            { "value": "text-3xl", "label": "3X Large" },
            { "value": "text-4xl", "label": "4X Large" },
            { "value": "text-5xl", "label": "5X Large" },
            { "value": "text-6xl", "label": "6X Large" },
            { "value": "text-7xl", "label": "7X Large" },
            { "value": "text-8xl", "label": "8X Large" }
          ],
          "default": "text-3xl"
        },
        {
          "type": "select",
          "id": "subheading_fontweight",
          "label": "Font weight",
          "options": [
            { "value": "font-normal", "label": "Normal" },
            { "value": "font-semibold", "label": "Semibold" },
            { "value": "font-bold", "label": "Bold" }
          ],
          "default": "font-bold"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text Alignment",
          "default":"text-left",
          "options": [
            {
              "value":"text-left",
              "label":"Left"
            },
            {
              "value":"text-center",
              "label":"Center"
            },
            {
              "value":"text-right",
              "label":"Right"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_alignment_mobile",
          "label": "Text Alignment (Mobile)",
          "default":"text-left",
          "options": [
            {
              "value":"text-left",
              "label":"Left"
            },
            {
              "value":"text-center",
              "label":"Center"
            },
            {
              "value":"text-right",
              "label":"Right"
            }
          ]
        },

        // Buttons
        {
          "type": "header",
          "content": "Button Settings"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "color",
          "id": "button_color",
          "label": "Button color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Button text color",
          "default": "#ffffff"
        },

        // Link
        {
          "type": "header",
          "content": "Link Settings"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link text"
        },
        {
          "type": "url",
          "id": "link_href",
          "label": "Link link"
        },
        {
          "type": "color",
          "id": "link_color",
          "label": "Link color",
          "default": "#ffffff"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Homepage",
      "name": "Columns Image CTA"
    }
  ]
}
{% endschema %}